.warning-notes p {
  color: orangered;
}

.warning-notes .notes {
  color: #777;
}


/*
.warning-notes .notes {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    color: #9F6000;
    background: #FEEFB3;
    background-image: url('./Assets/warning.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
*/

.pw-notes span {
  font-family: 'Consolas';
}

#wrap_cronMode .InputfieldRadiosStacked {
  background-image: url('./Assets/cron.png');
  background-position: right 10px top;
  background-repeat: no-repeat;
  background-size: 70px;
}

#Inputfield_maxPackages,
#Inputfield_awsRegion {
  width: 100%;
}

.AdminThemeDefault #wrap_Inputfield_useLocalFolder .InputfieldContent {
  background-image: url('./Assets/localfolder.png');
  background-position: right 20px top !important;
  background-repeat: no-repeat;
  background-size: 100px;
}

#wrap_Inputfield_useLocalFolder .InputfieldContent {
  background-image: url('./Assets/localfolder.png');
  background-position: right 10px top 10px;
  background-repeat: no-repeat;
  background-size: 110px;
}

.AdminThemeDefault #wrap_Inputfield_useFTP .InputfieldContent {
  background-image: url('./Assets/ftp.png');
  background-position: right 20px top !important;
  background-repeat: no-repeat;
  background-size: 100px;
}

#wrap_Inputfield_useFTP .InputfieldContent {
  background-image: url('./Assets/ftp.png');
  background-position: right 20px top 15px;
  background-repeat: no-repeat;
  background-size: 100px;
}

#wrap_Inputfield_useGoogleDrive .InputfieldContent p.description {
  padding-right: 100px;
}

#wrap_Inputfield_useGoogleDrive .InputfieldContent {
  background-image: url('./Assets/googledrive.png');
  background-position: top 20px right 10px;
  background-repeat: no-repeat;
  background-size: 110px;
}

#wrap_Inputfield_useDropbox .InputfieldContent p.description {
  padding-right: 100px;
}

#wrap_Inputfield_useDropbox .InputfieldContent {
  background-image: url('./Assets/dropbox.png');
  background-position: top 20px right 10px;
  background-repeat: no-repeat;
  background-size: 110px;
}

#wrap_Inputfield_useAmazonS3 .InputfieldContent p.description {
  padding-right: 100px;
}

#wrap_Inputfield_useAmazonS3 .InputfieldContent {
  background-image: url('./Assets/amazon.png');
  background-position: top 20px right 10px;
  background-repeat: no-repeat;
  background-size: 105px;
}

.invisible {
  display: none !important;
}

.donate-btn {
  max-width: 200px;
  float: right;
}

#pruneBackups {
  position: absolute;
  right: 20px;
}

#dup-head {
  width: 100%;
  display: grid;
  /* border: 1px solid #f1f1f1; */
  outline: 1px solid #d9e1ea;
  border-color: #f1f1f1;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: inherit;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 100px;
}

#dup-head {
  display: grid;
  width: 100%;
}

#dup-head .btn,
#dup-head iframe {
  float: right !important;
}

#dup-head .btn {
  margin-right: 10px;
}

#dup-logo {
  max-height: 76px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  align-self: center;
}

#dup-head h2 {
  color: #db1174;
  font-weight: 900;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.AdminThemeDefault #dup-head h2 {
  margin: 2em 1em 1em 0;
}

#dup-head ul {
  line-height: normal;
  vertical-align: middle;
  text-align: right;
  margin-bottom: 0;
  margin-top: 4px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

#dup-head ul li {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid;
  border-color: #f1f1f1;
  border-radius: 2px;
  transition: 0.3s linear;
  margin-left: 4px;
}

#dup-head ul li a:hover {
  text-decoration: none;
}

#dup-head ul li:hover {
  box-shadow: inset -1px 0px 20px 0px #4c4c4c;
  background: #4e494c;
  color: #fff;
  cursor: pointer;
}

#dup-head ul li:focus {
  background: red;
}

#dup-head ul li:hover a {
  color: #fff;
}

#dup-head ul .dup-label {
  display: block;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 100;
  margin-top: -6px;
}

@media screen and (max-width:767px) {
  #dup-head {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 60px;
  }
  #dup-head #dup-logo {
    margin: 0 auto;
    max-height: 44px;
  }
  #dup-head ul {
    line-height: normal;
    vertical-align: middle;
    text-align: left;
    display: flex;
    flex-direction: row;
    /* max-height: 30px; */
    width: fit-content;
    height: fit-content;
    align-self: center;
    flex-direction: row-reverse;
    width: 100%;
  }
  #dup-head ul li {
    display: flex;
    padding: 6px;
    border: 1px solid #d7e2e6;
    border-radius: 30px;
    transition: 0.3s linear;
    height: 100%;
    align-items: center;
    flex: 0;
    align-items: center;
    width: fit-content;
    margin-left: 5px;
  }
  #dup-head ul .dup-label {
    display: none;
  }
  .dup-icon {
    height: 33px;
    opacity: 0.7;
    vertical-align: middle;
  }
}

.widget .btn:hover .octicon {
  fill: #f5ae00;
}

.dup-icon {
  max-width: 50px;
  opacity: 0.7;
  margin-bottom: -5px;
}

#dup-head ul li:hover .dup-icon {
  opacity: 1;
  filter: invert(1);
}

#dup-head ul li:focus {}

.dup-flex-r {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-flow: row-reverse;
}

.dup-btn {
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: -moz-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
}

.dup-btn {
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d9e1ea;
  border-radius: 0.25em;
  color: #24292e;
  font-size: 14px;
  padding: 2px 8px 2px 2px !important;
}

.dup-btn:hover {
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: -moz-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec);
  border-color: #afb1b2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC')";
}

.dup-large a {}

.dup-large .fa {
  height: 16px;
  top: 4px;
  font-size: 14px;
  padding: 0 4px;
}

a.dup-btn:hover {
  text-decoration: none;
  color: #24292e;
}

a.dup-btn:hover .fa,
a.dup-btn:hover .octicon-star {
  color: #db1174;
}

.dup-head-label {
  display: inline-flex;
  align-items: baseline;
  margin-top: 0;
}

.dup-900 {
  font-weight: 900;
}

.animate-chars {
  background-image: linear-gradient(-225deg, #15c472 0%, #4185df 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 16s linear infinite;
  font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}