#wrap_content {
  max-width: 900px !important;
  margin: auto;
}

#subwrap_content {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e9e4e4;
  margin-top: 2em;
  padding: 1em;
  border-radius: 3px;
}

.pw-content .ui-accordion h3,
.content .ui-accordion h3 {
  margin-bottom: 0 !important;
}

#subwrap_content .title span.step {
  float: right;
  color: #9a9a9a;
}

#subwrap_content .title {
  font-weight: 900;
}

#subwrap_content .ui-accordion-header {
  border-radius: 0;
  background-color: #2f4248;
  font-size: 16px;
}

#subwrap_content .ui-corner-bottom {
  border-radius: 0;
}

#subwrap_content ul li i {
  color: green;
}

#subwrap_content ul li p {
  display: inline;
}

#subwrap_content ul li span {
  display: block;
}

#subwrap_content ul li {
  font-size: 14px;
}

#subwrap_content .btn_content {
  padding-top: 1em;
}

#subwrap_content .btn_content button {
  float: right;
}

#deletePackages {
  position: relative;
  right: 0;
  float: right;
  margin: 0;
}

.modal #deletePackages {
  position: absolute;
  right: 1em;
}

.adminDataTableMenu {
  background-color: inherit;
  /* border: 1px solid #d9e1ea; */
  outline: 1px solid #d9e1ea;
  margin-top: 6px;
  padding: 10px 13px !important;
}

.adminDataTableMenu ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

#packagesDataTable {
  color: #555555;
  background-color: inherit;
  border: 1px solid #d9e1ea;
  outline: 1px solid #d9e1ea;
}

#packagesDataTable td,
#packagesDataTable th {
  padding: 10px 13px !important;
}

#packagesDataTable tr:nth-child(odd) {
  background-color: inherit;
}

#packagesDataTable tr:nth-child(even) {
  /* /background: #f1f1f1; */
  background: rgba(0, 0, 0, 0.048);
  background-blend-mode: lighten;
}

#packagesDataTable img {
  max-width: 16px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

#packagesDataTable .package-name {
  display: inline;
}

.modal-confirm,
.job-running {
  display: none;
  padding: 20px !important;
}

.AdminThemeDefault #dup-head h2 {
  margin: 2em 1em 1em 0;
}

#dup-head ul {
  line-height: normal;
  vertical-align: middle;
  text-align: right;
}

#dup-head ul li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #d7e2e6;
  border-radius: 6px;
}

#dup-head ul li:hover {
  box-shadow: inset -1px 0px 20px 0px #ff00c8;
  background: lightsalmon;
  color: #fff;
  cursor: pointer;
}

#dup-head ul li:hover a {
  color: #fff;
}

.dup-icon {
  max-width: 50px;
  opacity: 0.7;
}

.dup-icon:hover {
  opacity: 1;
}

.dup-btn {
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: -moz-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
}

.dup-btn {
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
  color: #24292e;
  font-size: 14px;
  padding: 2px 8px 2px 2px !important;
}

.dup-btn:hover {
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: -moz-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec);
  border-color: #afb1b2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC')";
}

.dup-large a {}

.dup-large .fa {
  height: 16px;
  top: 4px;
  font-size: 14px;
  padding: 0 4px;
}

a.dup-btn:hover {
  text-decoration: none;
  color: #24292e;
}

a.dup-btn:hover .fa,
a.dup-btn:hover .octicon-star {
  color: #db1174;
}

.dup-head-label {
  display: inline-flex;
  align-items: center;
  margin-top: 1.4rem;
}

.dup-900 {
  font-weight: 900;
}

.dup-flex-r {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-flow: row-reverse;
}